[defaults]                     
inventory = ./inventories/prod/hosts.yml
roles_path = ./roles
host_key_checking = True
# Формат вывода результатов
stdout_callback = ansible.builtin.default
# display_ok_hosts = False
# display_skipped_hosts = False
# Автовыбор python на хосте без лишних предупреждений
interpreter_python = auto_silent
# Таймаут SSH/подключения к хосту (в секундах)
timeout = 30
# Максимум параллельных подключений/исполнений (ускоряет на множестве хостов)
forks = 20
# Не создавать *.retry файлы после падений (меньше мусора в проекте)
retry_files_enabled = False
# Проект опирается на merge-стратегию словарей между слоями variables
# (group_vars -> host_vars -> extra vars), чтобы переопределять только нужные ключи
# Важно: списки при этом не объединяются автоматически и обычно перезаписываются целиком
hash_behaviour = merge
# Временные файлы
remote_tmp = /tmp/.ansible-${USER}/tmp
keep_remote_files = False

# Секция настроек повышения привилегий (sudo/become)
[privilege_escalation]
# Включает sudo (become) по умолчанию для задач/ролей     
become = True
# Метод повышения привилегий (sudo)
become_method = sudo
# Не спрашивать sudo-пароль интерактивно (пароль задаётся через ansible_become_password/vault или не нужен)
become_ask_pass = False

# Настройки callback-плагина default
[callback_default]
result_format = yaml
